*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --colorPelo: #6c6a5a;
    --colorPeloClaro: #e7e0ac;
    --colorGarra: #313853;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(143,217,160);
    background: radial-gradient(circle, rgba(143,217,160,1) 0%, rgba(89,157,240,1) 100%);
}
.totoro{
    width: 300px;
    height: 440px;
    margin-top: 78px;
    position: relative;
}
.cabeza{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 280px;
    height: 220px;
    border: 2px solid black;
    border-bottom: none;
    background-color: var(--colorPelo);
    border-radius: 42% 42% 0% 0% / 100% 100% 0% 0%;
    z-index: 1;
}
.oreja{
    position: absolute;
    transform: rotate(-12deg);
    top: -78px;
    left: 58px;
    width: 40px;
    height: 90px;
    border: 2px solid black;
    background-color: var(--colorPelo);
    border-radius: 50% 50% 40% 40% / 80% 80% 10% 10%;
    z-index: 1;
}
.oreja--der{
    left: unset;
    right: 58px;
    transform: rotate(12deg);
}
.oreja::before{
    content: "";
    position: absolute;
    top: 82px;
    left: 7px;
    width: 22px;
    height: 20px;
    border: 2px solid black;
    background-color: var(--colorPelo);
    border-top: none;
    border-bottom: none;
    transform: skew(0deg, -11deg);
}
.oreja--der::before{
    transform: skew(0deg, 11deg);
    left: 5px;
    top: 83px;
}
.cara{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 45px;
}
.ojo{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid black;
    position: relative;
}
.ojo::before{
    content: "";
    position: absolute;
    top: 8px;
    left: 8px;
    width: 15px;
    height: 15px;
    background-color: black;
    border-radius: 50%;
}
.nariz{
    width: 35px;
    height: 8px;
    background-color: var(--colorGarra);
    border: 2px solid black;
    border-radius: 50% 50% 50% 50% / 25% 25% 75% 75% ;
    position: relative;
}
.nariz::before{
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    width: 50px;
    height: 10px;
    border-top: 2px solid black;
    border-radius: 50%;
}
.nariz::after{
    content: "";
    position: absolute;
    bottom: -47px;
    left: 9px;
    width: 16px;
    height: 15px;
    border-top: 2px solid black;
    border-radius: 50%;
    transform: rotate(-16deg);
}

.bigote{
    position: absolute;
    top: 90px;
    left: 0px;
    width: 65px;
    height: 10px;
    border-radius: 50% 20%;
    border-top: 2px solid black;
    z-index: 2;
    transform: rotate(15deg);
}
.bigote::before,.bigote::after{
    content: "";
    position: absolute;
    left: 0;
    width: 75px;
    height: 10px;
    border-top: 2px solid black;
    border-radius: 50% 20%;
}
.bigote::before{
    top: 10px;
    transform: rotate(-10deg);
}
.bigote::after{
    top: 22px;
    transform: rotate(-15deg);
}
.bigote--der{
    left: unset;
    right: 0;
    border-radius: 20% 50%;
    transform: rotate(-15deg);
}
.bigote--der::before{
    left: unset;
    right: 0;
    transform: rotate(10deg);
    border-radius: 20% 50%;
}
.bigote--der::after{
    left: unset;
    right: 0;
    transform: rotate(15deg);
    border-radius: 20% 50%;
}
.brazos{
    position: absolute;
    top: 55px;
    left: -20px;
    width: 340px;
    height: 265px;
    border: 2px solid black;
    background-color: var(--colorPelo);
    border-radius: 50% 50% 8% 8% / 80% 80% 18% 18% ;
}
.brazos::before{
    content: "";
    position: absolute;
    top: 4px;
    left: 18px;
    width: 300px;
    height: 300px;
    background-color: var(--colorPelo);
    border-radius: 50%;
    z-index: 1;
}
.garra{
    position: absolute;
    left: 2px;
    top: 240px;
    width: 8px;
    height: 30px;
    border: 2px solid black;
    background-color: var(--colorGarra);
    transform: skew(0deg, 40deg);
    border-radius: 100% 0% 20% 80% / 0% 0% 100% 100%;
    z-index: -1;
}
.garra::before{
    content: "";
    position: absolute;
    right: -12px;
    width: 7px;
    height: 30px;
    border: 2px solid black;
    background-color: var(--colorGarra);
    border-radius: 100% 0% 20% 80% / 0% 0% 100% 100%;
}
.garra:last-child{
    left: unset;
    right: 2px;
    transform: skew(0deg, -40deg);
    border-radius: 100% 0% 80% 20% / 0% 0% 100% 100% ;
}
.garra:last-child::before{
    border-radius: 100% 0% 80% 20% / 0% 0% 100% 100% ;
    left: -12px;
}
.abdomen{
    position: absolute;
    bottom: 5px;
    width: 290px;
    height: 300px;
    border: 2px solid black;
    background-color: var(--colorPeloClaro);
    border-radius: 50%;
    left: 5px;
    z-index: 2;
}
.abdomen__sup, .abdomen__inf{
    position: absolute;
    width: 100%;
}
.abdomen__sup .marca, .abdomen__inf .marca{position: absolute;}
.abdomen__sup .marca:nth-child(2),.abdomen__sup .marca:nth-child(3){top: 32px;}
.abdomen__sup .marca:first-child, .abdomen__sup .marca:last-child{
    top: 50px;
    transform: scale(.8);
}
.abdomen__sup .marca:first-child{left: 55px;}
.abdomen__sup .marca:last-child{right: 55px;}
.abdomen__sup .marca:nth-child(2){left:112px;}
.abdomen__sup .marca:nth-child(3){right: 112px;}

.abdomen__inf .marca:nth-child(2), .abdomen__inf .marca:nth-child(4){top: 75px;}
.abdomen__inf .marca:nth-child(3){
    top: 65px;
    left: 142px;
    transform: scale(1.1);
}
.abdomen__inf .marca:first-child, .abdomen__inf .marca:last-child{
    top: 90px;
    transform: scale(.8);
}
.abdomen__inf .marca:first-child{left: 35px;}
.abdomen__inf .marca:last-child{right: 35px;}
.abdomen__inf .marca:nth-child(2){left: 85px;}
.abdomen__inf .marca:nth-child(4){right: 85px;}
.marca::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 10px;
    background-color: var(--colorPelo);
    border-left-color: #a38e84;
    border: 1px solid black;
    border-left: none;
    border-radius: 0% 100% 100% 0% / 100% 55% 45% 0% ;
    transform: skew(0deg, 20deg);
}
.marca::after{
    content: "";
    position: absolute;
    top: 0;
    left: -20px;
    width: 20px;
    height: 10px;
    background-color: var(--colorPelo);
    border: 1px solid black;
    border-right: none;
    border-radius: 100% 0% 0% 100% / 50% 0% 0% 50% ;
    transform: skew(0deg, -20deg);
}

.pierna{
    position: absolute;
    bottom: 0;
    width: 150px;
    height: 250px;
    background-color: var(--colorPelo);
    border: 2px solid black;
    border-top: none;
    z-index: 1;
}

.pierna--izq{
    left: 0;
    border-radius: 12% 0% 3% 45% / 40% 0% 3% 55%;
}
.pierna--der{
    right: 0;
    border-radius: 0% 12% 45% 3% / 0% 40% 55% 3% ;
}