*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
::after,::before{
    box-sizing: border-box;
}
:root{
    --colorMain: #3b4b40;
    /* --bufanda: #7824ff; */
    --bufanda: #f5e3d5;
    --abrigo: #001107;
    --parche:#302812;
}
body{
    background-color: #77d1da;
    height: 100vh;
    display: flex;
    align-items: end;
    justify-content: center;
    position: relative;
}
.container{
    position: absolute;
    bottom: 0;
    width: 230px;
    height: 300px;
    background-color: white;
    border: 2px solid #2e2e2e;
    border-radius: 26% 26% 0% 0% / 60% 60% 0% 0%;
    z-index: 1;
}
.cabeza{
    width: 200px;
    height: 200px;
    background-color: white;
    border: 2px solid #2e2e2e;
    border-bottom: none;
    border-radius: 47% 47% 0% 0% / 50% 50% 0% 0%;
    position: absolute;
    top: -24px;
    left: 13px;
    z-index: 0;
}
.cabeza::before, .cabeza::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 180px;
    background-color: white;
    top: 29px;
}
.cabeza::before{
    border-radius: 50% 0% 0% 0% / 90% 0% 0% 0%;
    left: -13px;
}
.cabeza::after{
    border-radius: 0% 50% 0% 0% / 100% 90% 0% 0%;
    right: -13px;
}
.oreja{
    width: 35px;
    height: 50px;
    background-color: var(--colorMain);
    border: 2px solid #2e2e2e;
    border-radius: 50%;
    position: absolute;
    top: -20px;
    left: 30px;
    z-index: -1;
    transform: rotate(-45deg);
}
.oreja:last-child{
    transform: rotate(45deg);
    left: unset;
    right: 30px;
}
.ojo{
    width: 50px;
    height: 50px;
    background-color: var(--colorMain);
    border: 2px solid #2e2e2e;
    position: absolute;
    top: 10px;
    left: 65px;
    border-radius: 50%;
}

.ojo:last-child{
    left: unset;
    right: 40px;
}
.ojo::before{
    content: "";
    position: absolute;
    top: 13px;
    left: 19px;
    width: 18px;
    height: 18px;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-radius: 0% 100% 0% 0% / 100% 100% 0% 0% ;
    transform: rotate(-30deg);
}
.ojo:last-child::before{
    border-radius: 100% 0% 0% 0% / 100% 100% 0% 0% ;
    border-right: none;
    border-top: 2px solid black;
    border-left: 2px solid black;
    left: unset;
    right: 19px;
    transform: rotate(30deg);
}
.nariz{
    position: absolute;
    top: 57px;
    left: 107px;
    border: 2px solid #2e2e2e;
    border-bottom: none;
    
    background-color: white;
    border-radius: 40% 60% 100% 0% / 67% 97% 0% 0%;
    width: 70px;
    height: 40px;
    transform: rotate(90deg);
}
.nariz::before{
    content: "";
    position: absolute;
    top: 25px;
    left: -5px;
    width: 23px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
    transform: rotate(-90deg);
}
.nariz::after{
    content: "";
    position: absolute;
    top: 8px;
    right: -4px;
    width: 30px;
    height: 40px;
    background-color: white;
}
.boca{
    position: absolute;
    top: 85px;
    left: 103px;
    border-bottom: 2px solid #2e2e2e;
    border-radius: 50%;
    width: 25px;
    height: 10px;
    transform: rotate(-5deg);
}
.boca::before{
    content: "";
    position: absolute;
    bottom: -4px;
    left: -11px;
    width: 30px;
    height: 20px;
    border-radius: 50%;
    border-bottom: 2px solid #2e2e2e;
    background-color: white;
    transform: rotate(-60deg);
}

.buf_a{
    width: 150px;
    height: 40px;
    position: absolute;
    top: 139px;
    left: -25px;
    background-color: var(--bufanda);
    border: 2px solid #2e2e2e;
    border-top: none;
    border-radius: 10% 0% 50% 35% / 40% 0% 60% 60%;
    transform: rotate(30deg);
    z-index: 1;
}
.buf_a::before{
    content: "";
    position: absolute;
    top: -15px;
    left: -7px;
    width: 37px;
    height: 28px;
    /* background-color: var(--bufanda); */
    border: 2px solid #2e2e2e;
    border-top: none;
    border-right: none;
    transform: rotate(11deg);
    box-shadow: inset 3px -16px 0px 0px var(--bufanda);
    border-radius: 20% 0% 0% 44% / 34% 0% 0% 47%;
}
.buf_a::after{
    content: "";
    position: absolute;
    top: -27px;
    left: 2px;
    width: 150px;
    height: 27px;
    border-bottom: 2px solid #2e2e2e;
    border-radius: 50%;
    box-shadow: 0px 5px 0px 0px var(--bufanda);
}
.buf_b{
    width: 150px;
    height: 40px;
    position: absolute;
    top: 139px;
    right: -25px;
    background-color: var(--bufanda);
    border: 2px solid #2e2e2e;
    border-top: none;
    border-radius: 0% 10% 50% 35% / 40% 40% 60% 60%;
    transform: rotate(-30deg);
    z-index: 1;
}
.buf_b::before{
    content: "";
    position: absolute;
    top: -15px;
    right: -7px;
    width: 37px;
    height: 28px;
    /* background-color: var(--bufanda); */
    border: 2px solid #2e2e2e;
    border-top: none;
    border-left: none;
    transform: rotate(-11deg);
    box-shadow: inset -3px -16px 0px 0px var(--bufanda);
    border-radius: 0% 20% 44% 0% / 0% 34% 47% 0% ;
}
.buf_b::after{
    content: "";
    position: absolute;
    top: -27px;
    right: 2px;
    width: 150px;
    height: 27px;
    border-bottom: 2px solid #2e2e2e;
    border-radius: 50%;
    box-shadow: 0px 5px 0px 0px var(--bufanda);
}
.buf_c{
    position: absolute;
    top: 149px;
    left: 88px;
    width: 41px;
    height: 110px;
    z-index: 1;
    border: 2px solid #2e2e2e;
    border-radius: 15% 69% 0% 0% / 10% 10% 0% 0%;
    transform: skew(0deg, 10deg);
    background-color: var(--bufanda);
}
.buf_c::before{
    content: "";
    position: absolute;
    top: -6px;
    left: 6px;
    width: 45px;
    height: 140px;
    border: 2px solid #2e2e2e;
    border-bottom: none;
    border-radius: 10% 20% 0% 0% / 10% 5% 0% 0%;
    transform: skew(2deg, -5deg);
    background-color: var(--bufanda);
}
.pliegue{
    position: absolute;
    bottom: -30px;
    left: 9px;
    width: 20px;
    height: 6px;
    border-top: 2px solid #2e2e2e;
    border-right: 2px solid #2e2e2e;
    background-color: #556a71;
    border-radius: 67% 32% 50% 0% / 100% 53% 44% 0%;
}
.pliegue::before{
    content: "";
    position: absolute;
    bottom: -1px;
    left: 16px;
    width: 29px;
    height: 5px;
    border-radius: 46% 0% 38% 61% / 35% 0% 100% 62%;
    border: 2px solid #2e2e2e;
    border-top: none;
    transform: rotate(-9deg);
    background-color: var(--bufanda);
}
.pliegue::after{
    content: "";
    position: absolute;
    top: -68px;
    left: 17px;
    width: 10px;
    height: 70px;
    border-left: 2px solid #2e2e2ea3;
    transform: rotate(-2deg);
}
.brazo{
    position: absolute;
    top: 160px;
    left: -57px;
    width: 130px;
    height: 90px;
    overflow: hidden;
    border-radius: 50% 50% 50% 50% / 0% 0% 100% 100%;
    background-color: var(--abrigo);
    transform: rotate(40deg);
}

.brazo::before{
    content: "";
    position: absolute;
    bottom: -5px;
    left: 47px;
    width: 45px;
    height: 20px;
    border-radius: 50%;
    background-color: #302812;
}
.brazo:last-child{
    left: unset;
    right: -57px;
    transform: rotate(-40deg);
}
.mano{
    position: absolute;
    top: 148px;
    left: 45px;
    width: 60px;
    height: 55px;
    background-color: var(--colorMain);
    border: 2px solid #2e2e2e;
    border-bottom: none;
    border-radius: 50% 50% 50% 50% / 85% 85% 15% 15%;
    transform: rotate(45deg);
    overflow: hidden;
    z-index: 2;
}
.mano::before{
    content: "";
    position: absolute;
    top: -4px;
    left: 15px;
    width: 20px;
    height: 29px;
    border: 3px solid #2e2e2e;
    border-bottom: none;
    border-top: none;
    border-radius: 50% 50% 50% 50% / 100% 100% 0% 0%;
}
.mano:last-child{
    left: unset;
    right: 45px;
    transform: rotate(-45deg);
}
.mano:last-child::before{
    left: unset;
    right: 15px;
}
.manga{
    content: "";
    position: absolute;
    width: 70px;
    height: 15px;
    border-radius: 50%;
    top: 180px;
    left: 27px;
    background-color: var(--abrigo);
    z-index: 2;
    transform: rotate(45deg);
}
.manga::before{
    content: "";
    position: absolute;
    top: 11px;
    left: -2px;
    width: 70px;
    height: 30px;
    transform: rotate(7deg);
    border-left: 2px solid #181818;
    background-color: var(--abrigo);
}
.manga:last-child{
    left: unset;
    right: 27px;
    transform: rotate(-45deg);
}
.manga:last-child::before{
    transform: rotate(-7deg);
    left: unset;
    right: -2px;
    border-left: none;
    border-right: 2px solid #181818;
}
.vaso{
    position: absolute;
    top: 135px;
    left: 88px;
    width: 50px;
    height: 40px;
    border: 2px solid #2e2e2e;
    border-top: none;
    background-color: #e26243e0;
    border-radius: 0% 0% 50% 50% / 0% 0% 15% 15%;
    z-index: 1;
}
.vaso::before{
    content: "";
    position: absolute;
    top: -5px;
    left: -1px;
    width: 48px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #2e2e2e;
    background-color: #e26243e0;
}
.liquido{
    position: absolute;
    bottom: 0;
    left: 1px;
    width: 44px;
    height: 20px;
    background-color: #7fffd4a8;
    border-radius: 50% 50% 50% 50% / 30% 30% 30% 30%;
    z-index: 1;
}
.bombilla{
    position: absolute;
    bottom: 3px;
    left: 19px;
    width: 9px;
    height: 75px;
    background-color: pink;
    z-index: 0;
    border: 2px solid #8b8b8b;
    border-top: none;
    transform: rotate(5deg);
}
.bombilla::before{
    content: "";
    position: absolute;
    top: 35px;
    left: -22px;
    width: 48px;
    height: 10px;
    border-radius: 50%;
    border-bottom: 2px solid #2e2e2e;
    transform: rotate(-5deg);
}
.ropa{
    position: absolute;
    bottom: -2px;
    left: -25px;
    background-color: #556a71;
    overflow: hidden;
    border-radius: 10% 10% 0% 0% / 90% 90% 10% 10%;
    height: 130px;
    width: 280px;
}
.ropa::before{
    content: "";
    position: absolute;
    left: -5px;
    bottom: -5px;
    width: 100px;
    height: 100px;
    background-color: var(--abrigo);
    transform: rotate(-5deg);
}
.ropa::after{
    content: "";
    position: absolute;
    right: -5px;
    bottom: -5px;
    width: 100px;
    height: 100px;
    background-color: var(--abrigo);
    transform: rotate(5deg);
}
.adornos{
    position: absolute;
    top: -155px;
    left: -35px;
    width: 300px;
    height: 140px;
}
.circulos{
    position: absolute;
    bottom: 30px;
    left: 10px;
    width: 250px;
    height: 40px;
    border: 2px solid #2e2e2e;
    border-top: none;
    border-radius: 50%;
    transform: rotate(-16deg);
}
.circulos::before{
    content: "";
    position: absolute;
    width: 257px;
    left: -5px;
    height: 40px;
    border: 2px solid #2e2e2e;
    border-top: none;
    border-radius: 50%;
    bottom: -6px;
    transform: rotate(6deg);
}
.circulos::after{
    content: "";
    position: absolute;
    width: 244px;
    left: 4px;
    height: 40px;
    border: 2px solid #2e2e2e;
    border-top: none;
    border-radius: 50%;
    bottom: 2px;
    transform: rotate(6deg);
}

.corazones{
    position: relative;
    height: 100%;
    width: 100%;
}

.corazon{
    position: absolute;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    background: #2e2e2e;
}
.corazon:before,
.corazon:after {
    content: "";
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #2e2e2e;
}

.corazon:before {
    top: 0;
    left: -5px;
}

.corazon:after {
    top: -5px;
}

.corazon:nth-child(1){ top: 60px; left: 40px; transform: rotate(70deg);}
.corazon:nth-child(2){top: 75px; left: 80px; transform: rotate(45deg) scale(.5);}
.corazon:nth-child(3){top: 70px ; left: 130px;}
.corazon:nth-child(4){top: 40px; left: 180px; transform: rotate(25deg) scale(1.4);}
.corazon:nth-child(5){top: 60px; left: 210px; transform: rotate(45deg) scale(.4);}
.corazon:nth-child(6){top: 40px; left: 110px; transform: rotate(45deg) scale(.5);}
.corazon:nth-child(7){top: 20px; left: 80px; transform: rotate(50deg) scale(1.4);}
.corazon:nth-child(8){top: 10px; left: 135px; transform: rotate(25deg) ;}
.corazon:nth-child(9){top: 5px; left: 185px; transform: rotate(45deg) scale(.5);}
.corazon:nth-child(10){top: 25px; left: 40px; transform: rotate(20deg) scale(.5);}
